{% extends "base.html" %}

{% block content %}
<div class="main-content">
    <h3 class="title">Login:</h3>
    <div class="box">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification error">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}

        <form method="POST" action="/login">
            <div class="form-item">
                <input class="input" type="text" name="username" placeholder="Your Username" autofocus="" required>
            </div>
            <div class="form-item">
                <input class="input" type="password" name="password" placeholder="Your Password" required>
            </div>
            <div class="form-item">
                <label class="checkbox">
                    <input class="input-checkbox" type="checkbox" name="remember">
                    <span class="checkbox-label">Remember Me</span>
                </label>
            </div>
            <div class="form-item">
                <button class="input">Login</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}