{% extends "base.html" %}

{% block content %}
<div class="main-content">
    <h3 class="title">Sign Up:</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification error">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/signup">
            <div class="form-item">
                <input class="input" type="text" name="username" placeholder="Username" autofocus="" required>
            </div>
            <div class="form-item">
                <input class="input" type="text" name="civ_name" placeholder="Player Civ" autofocus="" required>
            </div>
            <div class="form-item">
                <input class="input" type="password" name="password" placeholder="Password" required>
            </div>
            <div class="form-item">
                <label class="checkbox">
                    <input class="input-checkbox" type="checkbox" name="admin">
                    <span class="checkbox-label">Is Admin?</span>
                </label>
            </div>
            <div class="form-item">
                <button class="input">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}