{% extends "base.html" %}

{% block content %}

<div class="main-content">
    <h3 class="title">Upload Map</h3>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
    {% endif %}
    {% endwith %}
    <form method="POST" action="/upload-map" enctype=multipart/form-data>
        <div class="field">
            <div class="control">
                <input class="file-cta is-large" type=file name=file accept=".png,.jpg,.jpeg" required>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input type="number" name="width" required>
                <label for="width">Width in Hexes:</label>
                <input type="number" name="height" required>
                <label for="width">Height in Hexes:</label>
            </div>
        </div>
        <div class="field">
            <label class="checkbox">
                <input type="checkbox" name="regen">
                Regenerate Map?
            </label>
        </div>
        <button class="button is-block is-info is-large is-fullwidth">Submit:</button>
    </form>
</div>

    

{% endblock %}