.navbar-sec {
	position: absolute;
	right: 4%;
	top: 2%;
	white-space: nowrap;
	z-index: 20000;
}

.navbar-item {
	padding: 1%;
	margin: auto;
	border-radius: 0.5em;
	border: solid;
	border-color: black; 
	background-color: #DFB2C6;
	color: black;
}

.navbar-item:hover {
	background-color: #B792A3;
}

.main-content {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: #DFB2C6;
	border-radius: 1em;
	border: solid;
	padding: 2em;
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.title {
	max-width: fit-content;
	font-size: 3em;
	margin:auto;
}

.input {
	text-align: center;
	font-size: 1.5em;
}

.form-item {
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.checkbox {
	font-size: 1.5em;
}

.input-checkbox {
	transform: scale(1.5);
}

.warning {
	text-align: center;
	font-size: 1.5em;
	color: darkred;
	margin-top: 0.2em;
}

.checkbox-label {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.notification {
	font-size: 1.2em;
	text-align: center;
	padding: 1em;
}

.error {
	background-color: red;
}

body {
	background-image: url("images/ef1.jpg");
	background-color: #cccccc;
	background-repeat: no-repeat;
	background-size: 100%;
}
.fupload {
	font-size: 1.08em;
	padding-top: 0.3em;
}