body {
	margin:0;
}
#focus-cover {
	width: 100%;
	/* display: none; */
	position: absolute;
	z-index: 15000;
	height: 100%;
	background-color: RGBA(0, 0, 0, 50%);
}
#hex-indepth-view {
	position: absolute;
	background-color: #fdf4d6;
	left: 7.5%;
	top: 7.5%;
	width: 85%;
	height: 85%;
	border-radius: 0.5em;
}
.civ-stat-display {
	display: block;
}
.button-close {
	position: absolute;
	z-index: 1000;
	right: 1%;
	top: 1%;
	height: fit-content;
	width: fit-content;
}
#leftsidebar {
	border-radius: 0.5em;
	z-index: 1000;
	position: absolute;
	left: 8%;
	top: 1%;
}
.focus-button {
	z-index: 1000;
	position: absolute;
	left: 1%;
	top: 1%;
}
.zoom-button {
	position: absolute;
	width: 3em;
	height: 3em;
}
.icon {
	width: 100%;
	height: 100%;
}
#zoomin {
	left: 0;
}
#zoomout {
	right: 0;
}
.manager {
	float: left;
}
#civ-view {
	padding: 0.5em;
	margin: 0;
}
.button-opener {
	height: 3em;
	width: 6em;
	display: block;
}
.half {
	width: 3em;
	display: none;
}
#civ-manager {
	position: absolute;
	display: none;
	bottom: 2%;
	background-color: rgba(253, 244, 214, 1);
	z-index: 1000;
	border-radius: 0.4em;
	left: 1%;
}
#rightsidebar {
	width:15%;
	z-index: 5000;
	position: absolute;
	height: fit-content;
	max-height: 80%;
	overflow: auto;
	right: 2%;
	top: 10%;
	background-color: rgba(253, 244, 214, 1);
	display: none;
}
.hex-modify-details {
	display: none;
}
.display-table {
	height: 88%;
	border: solid;
	border-width: 0.2em;
	overflow-y: scroll;
	box-sizing: border-box;
}
#modifier {
	display:none;
}
.info {
	padding:5%;
}
.panel-title {
	height: 10%;
	font-size: 1.5em;
}
.info-modifiable {
	font-size: 1em;
	margin: 0.5em;
}
.ico-button {
	height: 95%;
}
p {
	margin-top: 0;
}
.hex-upd-input {
	display:block;
}

.ex-9 {
	user-select: none;
	font-family: "Times New Roman", serif;
	background-color: #000000;
	padding: 0;
	margin: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	color: #656058;
	overflow: hidden;
}
.ex-9 figcaption {
	/* margin-top: 2em; */
	text-align: center;
}
.mapinterface {
	position: absolute;
	top: 100%;
	width: 100%;
	height: 100%;
	/* overflow: scroll; */
	display: inline-block;
}
.scrollable {
	overflow: scroll;
}
.comp {
	z-index: 4000;
}
.inline {
	display: inline;
}
#hexmap-9 .hex {
	background-color: #000000;
	font-family: "Arial Black","Copperplate Gothic Bold","Times New Roman", serif;
}
#hexmap-9 .hex .hexinner {
	background-color: #000000;
	color: inherit;
	margin: 2px;
}
#hexmap-9 .hex .id, #hexmap-9 .hex .name {
	font-weight: 700;
	line-height: 1em;
	text-shadow: 3px 3px 2px #fdf4d6, -3px 3px 1px #fdf4d6, -3px -3px 1px #fdf4d6, 3px -3px 2px #fdf4d6;
}
#hexmap-9 .hex .id {
	font-size: 2em;
	font-family: "Times New Roman", serif;
}
#hexmap-9 .hex .name {
	font-size: 1.3em;
	text-transform: uppercase;
}
#hexmap-9 .hex .name > div {
	font-size: 1.6em;
	line-height: 1.25em;
}
.hex-image {
	height: 96px;
	width: 112px;
}
.focusedhex {
	background: black;
	margin:auto;
	width: 98px;
	height: 80px;
	color: #fdf4d6;
}
#hex-stats-pentagon {
	border-right: solid;	
}
#hex-stats-list {
	padding: 0.5em;
}
.info-display {
	padding: 1%;
	box-sizing: border-box;
	overflow: hidden;
	height: 100%;
}
#hex-stats {
	display: flex;
}
.civ-stat-label {
	position: absolute;
}
/* .corner-1 {
} */
.civ-info-panel {
	height: 50%;
	width: 50%;
	background-color: rgba(253, 244, 214, 1);
	position: absolute;
	border: solid;
	border-width: 0.1em;
	box-sizing: border-box;
}
.civ-info-title {
	font-size: 2em;
	background-color: rgba(253, 244, 214, 1);
	position: absolute;
	border: solid;
	border-width: 0.1em;
	box-sizing: border-box;
	border-radius: 0.25em;
	top: 0;
	left: 50%;
	transform: translate(-50%, -100%);
}
.top {
	top: 0;
}
.bottom {
	bottom: 0;
}
.left {
	left: 0;
}
.right {
	right: 0;
}
.blinder {
	position: absolute;
	opacity: 50%;
	display: none;
	transform: translate(0%, -100%);
}
#hexmap-9 .hex:hover .hexinner {
	/* We have created the hexagon via clip-path so we have to simulate
	a border using two nested elements. We can set the border colour
	using "background" and the border width using "margin" */
	background: black;
	margin:auto;
	width: 90%;
	height: 90%;
	color: #fdf4d6;
}
#hexmap-9 .hex:hover .id, #hexmap-9 .hex:hover .name {
	text-shadow: none;
}
#hexes {
	position:relative;
	width:100%;
	height:100%;
}
#draggable-content {
	z-index: 10000;
	background-color: #ffffff;
	width:100%;
	height:100%;
}

.outer-london .name {
	font-size: 1.4em;
	font-family: "Times New Roman", serif;
}
.vertical {
	background-color: #fdf4d6;
	background-image: linear-gradient(90deg, transparent 50%, rgba(0,0,0,0.15) 50%);
	background-size: 4% 4%;
}
.horizontal {
	background-color: #fdf4d6;
	background-image: linear-gradient(0deg, transparent 50%, rgba(0,0,0,0.15) 50%);
	background-size: 4% 4%;
}
.blackout {
	height: 112px;
	width: 96px;
	position: absolute;
}
sup { top: -0.2em; }

#user-table {
	width: 100%;
	table-layout: fixed;
}
th, td {
    width: 100%;
    border-color: black;
    border: solid;
	box-sizing: border-box;
}
p {
    margin: 0;
}
.buttons {
	position: absolute;
	height: 8%;
	right: 1%;
	top: 2.5%;
}
.create-textarea {
	height: 3em;
	margin-right: 0.5em;
	padding: 0;
	box-sizing: border-box;
}
.outside {
	right: 5%;
	top: 7.5%;
}
.button-delete {
	float: right;
	display: inline;
	height: 2em;
}
.description {
	display: inline;
}
.table-image {
	width: 100%;
}
.table-entry {
	padding: 0.5em;
}