body {
	margin:0;
}

.ex-9 {
	font-family: "Times New Roman", serif;
	background-color: #fdf4d6;
	padding: 0;
	margin: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	color: #656058;
	overflow: hidden;
}
.compass {
	position: absolute;
	display: block;
	padding: 0.06em 0.125em;
	background-color: #fdf4d6;
	font-size: 2em;
	font-weight: 700;
	font-family: "Copperplate Gothic Bold", serif;
}
.compass-n {
	left: 50%;
	top: 0%;
	transform: translate3D(-50%,-50%,0);
}
.compass-s {
	left: 50%;
	top: 100%;
	transform: translate3D(-50%,-50%,0);
}
.compass-e {
	left: 100%;
	top: 50%;
	transform: translate3D(-50%,-50%,0);
}
.compass-w {
	left: 0%;
	top: 50%;
	transform: translate3D(-50%,-50%,0);
}
.ex-9 figcaption {
	/* margin-top: 2em; */
	text-align: center;
}
#hexmap-9 {
	position: relative;
	padding: 6% 8.3333%;
	margin: auto;
	border-radius: 100%;
	border: 2px solid rgba(0,0,0,0.5);
}
#hexmap-9 .hex {
	background-color: #000000;
	font-family: "Arial Black","Copperplate Gothic Bold","Times New Roman", serif;
}
#hexmap-9 .hex .hexinner {
	background-color: #fdf4d6;
	color: inherit;
	margin: 2px;
}
#hexmap-9 .hex .id, #hexmap-9 .hex .name {
	font-weight: 700;
	line-height: 1em;
	text-shadow: 3px 3px 2px #fdf4d6, -3px 3px 1px #fdf4d6, -3px -3px 1px #fdf4d6, 3px -3px 2px #fdf4d6;
}
#hexmap-9 .hex .id {
	font-size: 2em;
	font-family: "Times New Roman", serif;
}
#hexmap-9 .hex .name {
	font-size: 1.3em;
	text-transform: uppercase;
}
#hexmap-9 .hex .name > div {
	font-size: 1.6em;
	line-height: 1.25em;
}
#hexmap-9 .hex:hover .hexinner {
	/* We have created the hexagon via clip-path so we have to simulate
	a border using two nested elements. We can set the border colour
	using "background" and the border width using "margin" */
	background: #656058;
	color: #fdf4d6;
}
#hexmap-9 .hex:hover .id, #hexmap-9 .hex:hover .name {
	text-shadow: none;
}
.outer-london .name {
	font-size: 1.4em;
	font-family: "Times New Roman", serif;
}
.vertical {
	background-color: #fdf4d6;
	background-image: linear-gradient(90deg, transparent 50%, rgba(0,0,0,0.15) 50%);
	background-size: 4% 4%;
}
.horizontal {
	background-color: #fdf4d6;
	background-image: linear-gradient(0deg, transparent 50%, rgba(0,0,0,0.15) 50%);
	background-size: 4% 4%;
}
sup { top: -0.2em; }


/*
Source - https://stackoverflow.com/a
Posted by Bug, modified by community. See post 'Timeline' for change history
Retrieved 2025-12-21, License - CC BY-SA 4.0
*/

 #drag-img {
	cursor: move;
	position: relative;
	/* width: 500px;
	height: 500px; */
}

#container {
	overflow: hidden;
	background: red;
	/* height: 500px;
	width: 500px; */
}

.button {
	width: 200px;
	height: 50px;
}